.main-container {
	display: flex;
	height: 100%;
	.sample-canvas {
		width: 100%;
		.canvas-container {
			height: 100%;
		}
	}

	.sidebar {
		.buttons-wrapper {
			display: grid;
			gap: 10px;
			padding: 10px;
			grid-template-columns: 1fr 1fr;
		}
	}
}
