.main__container {
	height: 100%;
	display: flex;
	.canvas {
		width: 100%;
		.canvas-container {
			height: 100%;
		}
	}
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		background-color: rgb(238, 238, 238);
		border: 2px solid #6b6b6b;
		border-bottom-right-radius: 5px;
		.sidebar__wrapper {
			display: grid;
			gap: 10px;
			padding: 10px;
			grid-template-columns: 1fr 1fr;
			.sidebar__button {
				border: 2px solid #000;
				border-radius: 5px;
				background-color: #dadada;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				height: 40px;
				width: 52px;
				cursor: pointer;
				transition: all 0.2s ease 0s;
				@media (any-hover: hover) {
					&:hover {
						background-color: #aaaaaa;
					}
				}
				svg {
					height: 30px;
					width: 30px;
				}
			}
			.disable {
				cursor: default;
				pointer-events: none;
				svg {
					fill: #7a7a7a;
				}
			}
			.sidebar__svg-button,
			.sidebar__image-button {
				opacity: 0;
				position: absolute;
				z-index: -100;
			}
			.sidebar__border-width-button {
				position: relative;
				.sidebar__border-width-list {
					background-color: #fff;
					border: 2px solid #7a7a7a;
					padding: 6px;
					display: flex;
					border-radius: 5px;
					flex-direction: column;
					gap: 4px;
					z-index: 100;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translate(-50%, 100%);
					li {
						display: flex;
						align-items: center;
						justify-content: center;
						border: 2px solid #7a7a7a;
						cursor: pointer;
						background-color: #fff;
						height: 20px;
						width: 60px;
						border-radius: 5px;
						transition: all 0.2s ease 0s;
						@media (any-hover: hover) {
							&:hover {
								background-color: #aaaaaa;
							}
						}
						span {
							display: block;
							width: 40px;
							background-color: #000;
						}
						&:nth-child(1) {
							span {
								height: 2px;
							}
						}
						&:nth-child(2) {
							span {
								height: 3px;
							}
						}
						&:nth-child(3) {
							span {
								height: 4px;
							}
						}
						&:nth-child(4) {
							span {
								height: 5px;
							}
						}
						&:nth-child(5) {
							span {
								height: 6px;
							}
						}
					}
					.active {
						background-color: #dadada;
					}
				}
				.sidebar__border-width-button-overlay {
					position: fixed;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					z-index: 100;
				}
			}
			.sidebar__color-button-wrapper {
				position: relative;
				.sidebar__color-picker {
					position: absolute;
					z-index: 100;
				}
				.sidebar__color-overlay {
					position: fixed;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
				}
			}
		}
	}
	.modal-save__overlay {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: #00000065;
		.modal-save__content {
			position: relative;
			top: 50%;
			left: 50%;
			height: 600px;
			width: 1000px;
			padding: 20px;
			background-color: #fff;
			border-radius: 5px;
			transform: translate(-50%, -50%);
			.modal-save__close-button {
				cursor: pointer;
				height: 30px;
				width: 30px;
				position: absolute;
				background-color: #dadada;
				top: 0;
				right: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 5px;
				border: 1px solid #000;
				transition: all 0.2s ease 0s;
				@media (any-hover: hover) {
					&:hover {
						background-color: #c61919;
					}
				}
				span {
					position: absolute;
					display: block;
					height: 2px;
					width: 18px;
					background-color: #000;
					border-radius: 5px;
					&:first-child {
						transform: rotate(45deg);
					}
					&:last-child {
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}
